<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WebMail</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="Webmail" ng-controller="WebmailCtrl">

  <div class="container">
    <ul class="nav nav-tabs spacer">
      <li ng-repeat="dossier in dossiers"
      ng-class="{ active: dossier == dossierCourant }"><a ng-click="selectionDossier(dossier)" href="#">{{dossier.label}}</a></li>
    </ul>

    <table class="table table-striped table-hover spacer">
      <thead>
        <tr>
          <th>De</th>
          <th>&Agrave;</th>
          <th>Objet</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="email in dossierCourant.emails" class="clickable" ng-click="selectionEmail(email)">
          <td>{{email.from}}</td>
          <td>{{email.to}}</td>
          <td>{{email.subject}}</td>
          <td>{{email.date}}</td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-info">Le dossier contient {{dossierCourant.emails.length}} mails.</div>

    <div ng-show="emailSelectionne != null">
      <div class="well">
        <h3>{{emailSelectionne.subject}}</h3>
        <p><label>De:</label> <span>{{emailSelectionne.from}}</span></p>
        <p><label>&Agrave; :</label> <span>{{emailSelectionne.to}}</span></p>
        <p><label>Date :</label> <span>{{emailSelectionne.date}}</span></p>
        <p>{{emailSelectionne.content}}</p>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
